echo "/Temp/" >> .gitignore
echo "/Library/" >> .gitignore
echo "/Logs/" >> .gitignore
echo "/Obj/" >> .gitignore
echo "/Build/" >> .gitignore
echo "/Builds/" >> .gitignore
echo "/ProjectSettings/ProjectVersion.txt" >> .gitignore
echo "/UserSettings/" >> .gitignore
echo "/Assets/AssetStoreTools*" >> .gitignore
echo "*.csproj" >> .gitignore
echo "*.unityproj" >> .gitignore
echo "*.sln" >> .gitignore
echo "*.suo" >> .gitignore
echo "*.tmp" >> .gitignore
echo "*.user" >> .gitignore
echo "*.userprefs" >> .gitignore
echo "*.pidb" >> .gitignore
echo "*.booproj" >> .gitignore
echo "*.svd" >> .gitignore
echo "*.pdb" >> .gitignore
echo "*.opendb" >> .gitignore
echo "*.VC.db" >> .gitignore